body{
background-color: red;
}
.my-background{
    background-color: #78909C;
}

.clip{
    clip-path: polygon(0 0, 100% 0, 100% 92%, 69% 100%, 27% 93%, 0 100%);

}

.card-head{
    background-color: #80CBC4;
}

.forget-password{
    text-decoration: none;
    transition: 0.3s;
    color: #607D8B;
}
.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0% 35% 0% 32%;
}
.lc{
min-width: 90%;
margin-left: 10%;

}
.forget-password:hover{
    color: black;
}
.register{
    float:right;
}
.loader{
    justify-content: center;
    text-align: center;
    margin: auto;
    display: none;

}

.register{
    color: #607D8B;
    transition: 0.3s;
    text-decoration: none;
}
.register:hover{
     color: black;
 }
