
.card-head{
    background-color: #80CBC4;
}
body{
background-color: rgb(252 238 238) !important;
}

.user-info{
    display: flex;
    flex-direction:column;

}

.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0% 35% 0% 32%;
}
.btn-submit{
background-color:#0d6efd !important;
color:white!important;
}
::placeholder{
    color:black !important;
    opacity:1 !important;
}
    .inline-flex-my{
        display:inline-flex;
    }
    .bold{
        font-weight:500;
    }
    .card-header-color{
    background-color: #035adc !important;
    }
    .edit-icon{
        display:flex;
        justify-content:flex-end;
    }
    .btn-edit{
        border:none;
        background: white;
        transition: 0.3s;

    }
    .btn-edit:hover{
        color: #035adc;
        transform: scale(1.1, 1.1);
    }
    .text-red{
        color:red;
    }
    .btn-delete-account{
        cursor: pointer;
    }
    #msg{color:red}
.br-t-21{
    border-radius: 21px 21px 0px 0px !important;
}
.br-21{
    border-radius:21px !important;
}
.bs{
    box-shadow: 2px 2px 15px;
}
