.clip-path{
    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 66% 100%, 26% 94%, 0 100%, 0 0);
}
.background{
    background-color: #78909C;
}
.loader{
    justify-content: center;
    text-align: center;
    margin: auto;
    display: none;
}
