*{
margin:0px;
padding: 0px;
}
body{
background-color: #34515e;
}
.card-header-background{
    background-color:#34515e;
    font-size: 1.1rem;
    color: white;
}
.clip{
    clip-path: polygon(50% 0%, 100% 0, 100% 91%, 69% 100%, 31% 94%, 0 99%, 0 0);
}
.my-background{
    background-color: #78909C;
}
.loader{
    justify-content: center;
    text-align: center;
    margin: auto;
   display:flex;

}