.sticky-cart {
    display: flex;
    position: fixed;
    bottom: 20px;
    color: white;
    width: 5%;
    right: 0px;
    border-radius: 100px 0px 0px 100px;
    padding: 3px;
    padding-left: 14px;
    font-size: 20px;
    flex-direction: row;
    justify-content: flex-start;
}
